<h1>Cadastro de Contratos</h1>
<form action="/contracts/insertcontract" method="POST" class="form">
    <div class="form-control">
        <label for="username">PPPoE:</label>
        <input type="text" name="username" placeholder="Digite o PPPoE do cliente">
    </div>
    <div class="form-control">
        <label for="conexao">Tipo de conexão:</label>
        <input type="text" name="conexao" placeholder="Digite o tipo de conexão">
    </div>
    <input type="submit" value="Cadastrar">
</form>